configuration {
    show-icons:                     true;
    font:                           "Iosevka Nerd Font 10";
    cycle:                          true;
    hide-scrollbar:                 true;
    disable-history:                false;
    modi:                           "drun";
    display-drun:                   "apps";
    fullscreen:                     false;
    sidebar-mode:                   false;
    theme: "~/.config/rofi/themes/menu/big_sur.rasi";
}
