configuration {
  show-icons:         true;
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  theme: "~/.config/rofi/themes/menu/big_sur.rasi";
}
